<% layout('layouts/boilerplate.ejs') %>


    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Erroooor!</h4>
        <p>
            <%= err.message %>
            <%= err %>
                <br>
                <% if(err.status==500){ %>
                    That means, the path id (id of the ad given by mongoose when stored it) is invalid.
                    In simple words, the id is usally a hexadecimal number and has a fixed length. So either the length
                    is longer than it should be or it's not in hexadecimal format.
                    <% } %>
        </p>
        <hr>
        <p class="mb-0">
            Status code : <%= err.status %>
        </p>
    </div>